<html>
<head>
    <link rel=stylesheet type=text/css href={{ url_for('static', filename='styles.css')}}>
</head>
<body>
    <div id="cover-delete">
        <img src="/static/cover-delete-restaurant.jpg"/>
        <div id='rectangle'></div>
        <h1>Delete a Restaurant</h1>

        <form action="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" method = 'POST'>
        <p>{{restaurant.name}}</p>
        <div id="submit">
            <input type='submit' value='SUBMIT'>
        </div>
        </form>

    </div>

    <div id="footer">
        <div id='rectangle'></div>
        <div id="rosemary">
            <p>Rosemary</p>
        </div>
    
        <div id="built">
            <p>Theme built by</p>
        </div>
    
        <div id="rosemary-fortanely">
            <p><b>Rosemary Fortanely</b></p>
        </div>
    </div>
</body>
</html>