<html>
<head>
    <link rel=stylesheet type=text/css href={{ url_for('static', filename='styles.css')}}>
</head>
<body>
    <div id="cover-edit">
        <img src="/static/cover-edit-restaurant.jpg"/>
        <div id="rectangle"></div>
        <h1>Change Restaurant Name</h1>

        <form action="{{ url_for('editRestaurant', restaurant_id=restaurant.id)}}" method = 'POST'>
        <div id="input">
            <input type='text' size='30' name='name' placeholder="{{restaurant.name}}">
        </div>
        <hr></hr>
        <div id="submit">
            <input type='submit' value='SUBMIT'>
        </div>
        </form>

    </div>

    <div id="footer">
        <div id="rectangle"></div>
        <div id="rosemary">
            <p>Rosemary</p>
        </div>
    
        <div id="built">
            <p>Theme built by</p>
        </div>
    
        <div id="rosemary-fortanely">
            <p><b>Rosemary Fortanely</b></p>
        </div>
    </div>
</body>
</html>