<html>
<head>
    <link rel=stylesheet type=text/css href={{ url_for('static', filename='styles.css')}}>
</head>
<body>
    <div id="cover-new">
        <picture>
            <source 
                media="(min-width: 750px)"
                srcset="../static/cover-new-restaurant.jpg">
            <source 
                media="(min-width: 200)"
                srcset="../static/cover-new-restaurant-mobile.jpg">
            <img src="../static/cover-new-restaurant.jpg">
        </picture>

        <div id="rectangle"></div>
        <h1>Create a New Restaurant</h1>

        <form action="{{url_for('newRestaurant') }}" method = 'POST'>
        <div id="input">
            <input type='text' size='30' name='name' placeholder="Restaurant Name">
        </div>
        <hr></hr>
        <div id="submit">
            <input type='submit' value='SUBMIT'>
        </div>
        </form>
    </div>

    <div id="footer">
        <div id="rectangle"></div>
        <div id="rosemary">
            <p>Rosemary</p>
        </div>
    
        <div id="built">
            <p>Theme built by</p>
        </div>
    
        <div id="rosemary-fortanely">
            <p><b>Rosemary Fortanely</b></p>
        </div>
    </div>
</body>
</html>